/* TEMPLATE STYLES */
		
main {
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.extra-margins {
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}
 .navbar {
	background-color: #3b3b3f;
}

footer.page-footer {
	background-color: #3b3b3f;
	margin-top: 2rem;
 
}

/* PROPIO */


main > .container{
	margin-bottom: 3.3em
}
.profile-detail{
	color: #212121;
}
.profile-detail > i{
	display: none;
}
.profile-detail:hover > i{
	display: inline;
}
.profile-detail span{
	margin-left: 5px ;
	margin-right: 5px ;
}
#edit-user .form-control{
	padding-left: 15px;
}
.type-payment{
	text-align: center;
	font-size: 2.1em;
	padding: 5px 25px;
	margin: auto;	
	display: inline-block;
}
.type-payment span{
	color: #424242;
}

.extra-margin-page{
  /*display: block;*/
  margin-top: 30px;
  margin-bottom: 300px;
}
.image-profile{
	max-width: 200px; 
	border-radius: 50%;
}

.title-detail{
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #e0e0e0
}
.title-detail > .detail, .title-detail > .title{
	display: inline-block;
}

.title-detail > .title{
	font-weight: bold;
	text-align: right;
	width: 25%;
	padding-right: 5px;
}

.title-detail > .detail > a{
	color :#263238;
}

.title-detail > .detail:hover > a{
	color :#1976d2;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}
.title-post{
	padding-top: 1em;
	text-align: center;
	border-bottom: 1px solid #bdbdbd;
	background: #4fc3f7 url('../img/background-post.jpg');
  	background-repeat: no-repeat;
  	background-size: 100%;
	background-position: top;
}

.title-post h1{
	margin-top: 1.2em;
	margin-bottom: 1em;
	font-weight: bolder;
	font-size: 2.1em;
	color: #f44336;
	-webkit-text-fill-color: #f44336;
	-webkit-text-stroke: 0.013em #fafafa;
	/*-webkit-text-fill-color: #d50000;*/
	/*-webkit-text-stroke: 1px #f44336;*/
	font-family: impact;
}

.title-post ul{
	margin: 0;
	display: block;
	width: 100%;
	background: rgba(42,42,42,.7);
	padding-bottom: 1.2em;
	color: #fafafa;
}

.title-post ul li{
	display: inline-block;
	padding: 0.5em 1.3em;
}
.title-post ul li a{
	color: #fafafa;
}

.title-post ul li a:hover{
	text-decoration: underline;
}

.img-show-post{
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 2em;
	position: relative;
}
.img-show-post img{
	width: 100%
}

.comments-post{
	
}
.container-img-pdf{
	padding-top: 2.5em;
	display: block;
	max-width: 80%;
	margin: 2.5em auto;
}
.container-img-pdf h3{
	font-size: 1em
}

.container-img-pdf .time-premium{
	color: #616161;
}
.link-pdf-show{
 	font-size: 0.8em;
	border-bottom: 1px solid #bdbdbd;
	display: block;
}
.img-pdf-show{
 	max-with:10%; 
 	max-height: 4em; 
 	display: inline-block; 
 	cursor: pointer;
}
.title-other-post{
	text-align: center;
	font-weight: bolder;
	margin-bottom: 1em;
}
.other-posts{
	display: block;
	/*border:1px solid #bdbdbd;*/
	margin-bottom: 1em;
}
.other-posts .img, .other-posts .post-content{
	display: inline-block;
	width: 30%;
}
.other-posts .img {
	overflow: hidden;
}
.other-posts .img img{
	min-width: 100%;
	min-height: 100%;
}

.other-posts .post-content{
	width: 65%;
	margin:0;
	padding: 0;
	font-size: 0.9em;
	text-align:left;
	position: relative;
}

.list-prices{
	width: 80%;
	display: inline-block;
	margin: 0 0.4em;
}

.list-prices > .list-group-item{
 	display: block;
 	text-align: center;
}
 
.item-time{
 	font-size: 1.3em;
 	background: #1565c0;
 	color: #fafafa;
}

.item-price{
 	font-size: 1.8em;
}
.form-init-center{
    display: block;
    width: 40%;
    margin: auto;
}
.form-init-center .panel-heading{
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    padding-bottom: 1.3em;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    font-weight: bolder;
    font-size: 1.9em;
}
.has-error .help-block{
    color: #f44336;
    font-size: 0.8em;
    margin-bottom: 0.8em;
}
.group-social{
	display: block;
	margin: auto;
	width: 80%;
}
.btn-social{
	border-radius: 10%;
	padding: 0.5em;
	margin: 0.8em;
	font-size: 1.5em;
	color: #fafafa;
}
.btn-social-facebook{
	border: 1px solid #0d47a1;
	background: #1565c0;
}
.btn-social-instagram{
	border: 1px solid #b71c1c;
	background: #f44336;
}
.btn-social-youtube{
	border: 1px solid #c62828;
	background: #b71c1c;
}
.info-system{
	display: block;
	padding: 1.2em 0;
}
.info-system ul li{
	display: inline-block;
	margin: 0.1em 0.4em;
}
.info-system ul li a:hover{
	text-decoration: underline;
}