/* TEMPLATE STYLES */
		
main {
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.extra-margins {
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}
 .navbar {
	background-color: #3b3b3f;
}

footer.page-footer {
	background-color: #3b3b3f;
	margin-top: 2rem;
 
}

/* PROPIO */


main > .container{
	margin-bottom: 3.3em
}
.profile-detail{
	color: #212121;
}
.profile-detail > i{
	display: none;
}
.profile-detail:hover > i{
	display: inline;
}
.profile-detail span{
	margin-left: 5px ;
	margin-right: 5px ;
}
#edit-user .form-control{
	padding-left: 15px;
}
.type-payment{
	text-align: center;
	font-size: 2.1em;
	padding: 5px 25px;
	margin: auto;	
	display: inline-block;
}
.type-payment span{
	color: #424242;
}

.extra-margin-page{
  /*display: block;*/
  margin-top: 30px;
  margin-bottom: 300px;
}
.image-profile{
	max-width: 200px; 
	border-radius: 50%;
}

.title-detail{
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #e0e0e0
}
.title-detail > .detail, .title-detail > .title{
	display: inline-block;
}

.title-detail > .title{
	font-weight: bold;
	text-align: right;
	width: 25%;
	padding-right: 5px;
}

.title-detail > .detail > a{
	color :#263238;
}

.title-detail > .detail:hover > a{
	color :#1976d2;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.img-show-post{
	height: 15em;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 2em;
	position: relative;
}
.img-show-post img{
	width: 100%
}

.container-img-pdf{
	padding-top: 2.5em;
	border-top: 1px solid #bdbdbd;
	display: block;
	max-width: 80%;
	margin: 2.5em auto;
}

.img-pdf-show{
 	max-with:10%; 
 	max-height: 6em; 
 	display: inline-block; 
 	cursor: pointer;
}


.list-prices{
	width: 23%;
	display: inline-block;
	margin: 0 0.4em;
}

.list-prices > .list-group-item{
 	display: block;
 	text-align: center;
}
 
.item-time{
 	font-size: 1.3em;
 	background: #1565c0;
 	color: #fafafa;
}

.item-price{
 	font-size: 1.8em;
}
.form-init-center{
    display: block;
    width: 40%;
    margin: auto;
}
.form-init-center .panel-heading{
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    padding-bottom: 1.3em;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    font-weight: bolder;
    font-size: 1.9em;
}
.has-error .help-block{
    color: #f44336;
    font-size: 0.8em;
    margin-bottom: 0.8em;
}