/* TEMPLATE STYLES */
		
main {
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.extra-margins {
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}
 .navbar {
	background-color: #3b3b3f;
}

footer.page-footer {
	background-color: #3b3b3f;
	margin-top: 2rem;
 
}

/* PROPIO */


main > .container{
	margin-bottom: 3.3em
}
.profile-detail{
	color: #212121;
}
.profile-detail > i{
	display: none;
}
.profile-detail:hover > i{
	display: inline;
}
.profile-detail span{
	margin-left: 5px ;
	margin-right: 5px ;
}
.edit-user .form-control{
	padding-left: 15px;
}
.edit-user .input-group{
	margin: 1em;
}

.profile-information{
	background: #fff;
}
.white{
	background: #fff;
}
.panel-information{
	background: #fff;
	margin-top: 1em;
	margin-bottom: 1em;
}
.panel-information .panel-heading, .panel-information .panel-body{
	padding: 2em
}
.panel-information .panel-heading{
	border-bottom: 1px solid #bdbdbd;
	font-size: 1.2em;
	padding-top: 1em; 
	padding-bottom: 1em;
	text-align: center;
}

.panel-information .panel-heading span, .panel-information .panel-heading a{
	display: inline-block;
}
.panel-information .panel-heading a{
	float: right;
}
.panel-information .panel-body ul{
	border-bottom: 1px solid #bdbdbd;
	padding-top: 1em; 
	padding-bottom: 1em;
}
.panel-information .panel-body ul li{
	list-style-type: disc;
}
.panel-information .panel-body ul a{
	color: #3f51b5;
}
.sponsor-list{
	display: block;
	padding: 0.5em 0;
}
.sponsor-list .badge{
	float: right;
}

.type-payment{
	text-align: center;
	font-size: 2.1em;
	padding: 5px 25px;
	margin: auto;	
	display: inline-block;
}
.type-payment span{
	color: #424242;
}

.extra-margin-page{
  /*display: block;*/
  margin-top: 30px;
  margin-bottom: 300px;
}
.image-profile{
	max-width: 10em; 
	border-radius: 50%;
	float: right;
}



.title-detail{
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #e0e0e0
}
.title-detail > .detail, .title-detail > .title{
	display: inline-block;
}

.title-detail > .title{
	font-weight: bold;
	text-align: right;
	width: 25%;
	padding-right: 5px;
}

.title-detail > .detail > a{
	color :#263238;
}

.title-detail > .detail:hover > a{
	color :#1976d2;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}
.title-post{
	padding-top: 1em;
	text-align: center;
	border-bottom: 1px solid #bdbdbd;
	background: #000 url('../img/background-post.jpg');
  	background-repeat: no-repeat;
  	background-size: 100%;
	background-position: top;
}

.title-post h1{
	margin-top: 1.2em;
	margin-bottom: 1em;
	font-weight: bolder;
	font-size: 2.1em;
	color: #f44336;
	-webkit-text-fill-color: #f44336;
	-webkit-text-stroke: 0.013em #fafafa;
	/*-webkit-text-fill-color: #d50000;*/
	/*-webkit-text-stroke: 1px #f44336;*/
	font-family: impact;
}

.title-post ul{
	margin: 0;
	display: block;
	width: 100%;
	background: rgba(42,42,42,.7);
	padding-bottom: 1.2em;
	color: #fafafa;
}

.title-post ul li{
	display: inline-block;
	padding: 0.5em 1.3em;
}
.title-post ul li a{
	color: #fafafa;
}

.title-post ul li a:hover{
	text-decoration: underline;
}

.img-show-post{
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 2em;
	position: relative;
}
.img-show-post img{
	width: 100%
}

.comments-post{
	
}
.container-img-pdf{
	display: block;
	max-width: 95%;
}
.container-img-pdf h3{
	font-size: 1em
}

.container-img-pdf .time-premium{
	color: #616161;
}
.link-pdf-show{
 	font-size: 0.8em;
	display: block;
	color: #040404;
	/*font-weight: bolder;*/
}
.link-pdf-show .img-pdf-show, .link-pdf-show span{
	display: inline-block;
	width: 20%;
}
.link-pdf-show span{
	width: 75%;
}
.img-pdf-show{
 	max-height: 4em; 
}
.title-other-post{
	text-align: center;
	font-weight: bolder;
	margin-bottom: 1em;
}
.other-posts{
	display: block;
	/*border:1px solid #bdbdbd;*/
	margin-bottom: 1em;
}
.other-posts .img, .other-posts .post-content{
	display: inline-block;
	width: 30%;
}
.other-posts .img {
	overflow: hidden;
}
.other-posts .img img{
	min-width: 100%;
	min-height: 100%;
}

.other-posts .post-content{
	width: 65%;
	margin:0;
	padding: 0;
	font-size: 0.9em;
	text-align:left;
	position: relative;
}

.list-prices{
	width: 80%;
	display: inline-block;
	margin: 0 0.4em;
}

.list-prices > .list-group-item{
 	display: block;
 	text-align: center;
}
 
.item-time{
 	font-size: 1.3em;
 	background: #1565c0;
 	color: #fafafa;
}

.item-price{
 	font-size: 1.8em;
}
.form-init-center{
    display: block;
    width: 40%;
    margin: auto;
}
.form-init-center .panel-heading{
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    padding-bottom: 1.3em;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    font-weight: bolder;
    font-size: 1.9em;
}
.has-error .help-block{
    color: #f44336;
    font-size: 0.8em;
    margin-bottom: 0.8em;
}
.group-social{
	display: block;
	margin: auto;
	width: 80%;
}
.btn-social{
	border-radius: 10%;
	padding: 0.5em;
	margin: 0.8em;
	font-size: 1.5em;
	color: #fafafa;
}
.btn-social-facebook{
	border: 1px solid #0d47a1;
	background: #1565c0;
}
.btn-social-instagram{
	border: 1px solid #b71c1c;
	background: #f44336;
}
.btn-social-youtube{
	border: 1px solid #c62828;
	background: #b71c1c;
}
.info-system{
	display: block;
	padding: 1.2em 0;
}
.info-system ul li{
	display: inline-block;
	margin: 0.1em 0.4em;
}
.info-system ul li a:hover{
	text-decoration: underline;
}
body{
	background: #f5f5f5;
}
.main-post{
	width: 100%;
	margin: 0;
	padding: 0;
}
.main-post .container{
	margin-top: 2em;
}
.main-post .concept{
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 2px 10px rgba(0,0,0,0.12);
}
.list-post .card{
	color: #2e2e2e;
	display: block;
	vertical-align: top;
	min-height: 175px;
	margin-bottom: 2em;
	position: relative;
}
.list-post .card .img, .list-post .card .content-post{
	width: 30%;
	display: inline-block;
	vertical-align: center;
}
.list-post .card .content-post{
	position: absolute;
	width: 65%;
	padding-left: 0.7em;
	padding-top: 0.5em;
	padding-right: 0.7em;
}
.list-post .card .img{
	min-height: 100%;
}
.list-post .card h2{
	font-size: 1.2em;
	font-weight: bolder;
	top: 0;
}
.list-post .card p{
	font-size: 0.9em;
	top: 0;
}
.list-post .card .mask{
	cursor: pointer;
	height: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
}
.list-post .card ul{
	display: block;
	vertical-align: bottom;
}
.list-post .card ul .li-author{
	float: left;
}
.list-post .card ul .li-date{
	float: right;
}
.panel-post-column{
	background-color: #fff;
	border: 1px solid #bdbdbd;
	padding: 1em 0.5em;
	margin-bottom: 1.3em;
}
.panel-post-column .panel-heading{
	padding: 0 0.3em 0.5em 0.3em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #bdbdbd;
	font-weight: bolder;
}
.group-list-sponsors{
	width: 90%;
	margin: 1em auto;
	display: block;
}
.panel-sponsor{
	max-width: 30%;
	margin: auto;
	background: inherit;
	display: inline-block;
	/*position: relative;*/
}
.panel-sponsor  > .panel{
	display: block;
	margin:  0.4em;
	background-color: #fff;
	border: 1px solid #bdbdbd;
	margin-bottom: 1.3em;
	border-radius: 4%;
	overflow: hidden;
}
.panel-sponsor  > .panel .panel-header, .panel-sponsor  > .panel .panel-body{
	padding: 1em 0.5em;
	margin-bottom: 0.5em;
}
.panel-sponsor  > .panel .panel-header{
	text-align: center;
	/*padding: 0 0.3em 0.5em 0.3em;*/
	border-bottom: 1px solid #bdbdbd;
	font-weight: bolder;
	background: #00897b;
	color: #f5f5f5;
}
.panel-sponsor  > .panel .title-sponsor{
	display: block;
	font-weight: bolder;
	font-size: 1em
}
.panel-sponsor-active  > .panel .panel-header{
	background: #0277bd;
	color: #f5f5f5;
}
.panel-sponsor-active  > .panel .title-sponsor{
	display: block;
	font-weight: bolder;
	font-size: 1.4em;
	color: #000;
}
.panel-sponsor  > .panel .panel-body ul{
	padding-left: 1em;
}
.panel-sponsor  > .panel .panel-body ul li{
	list-style-type: disc;
}
.panel-sponsor  > .panel .panel-body .btn{
	border-radius: 5%
}
.panel-sponsor  > .panel .panel-body .btn{
	border-radius: 5%;
	background: #03a9f4;
}
.panel-sponsor  > .panel .panel-body .btn:hover{
	text-decoration: underline;
}
.panel-sponsor-active  > .panel .panel-body .btn{
	background: #26a69a;
}

.sponsor-show{
	color: #2e2e2e;
	display: block;
	padding: 0.4em 0.2em;
	text-align: center;
	max-width: 95%;
}
.sponsor-show img{
	max-width: 100%;
	border-radius: 2px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 2px 10px rgba(0,0,0,0.12);
}
.sponsor-show .title-sponsor{
	font-weight: bolder;
	font-size: 1em;
	display: block;
}
.sponsor-show:hover .title-sponsor{
	text-decoration: underline;
	color: #1565c0;
}
.sponsor-show .description-sponsor{
	font-size: 0.9em;
}
#sponsorModal, #sponsorModal .modal-dialog , #sponsorModal .modal-body{
	background: inherit;
}
.modal-sponsor{
	display: block;
	padding: 0;
	border-radius: 4px;
	overflow: hidden;
}

.modal-sponsor .img-sponsor, 
.modal-sponsor .btn-social-sponsor-group{
	display: block;
}

.modal-sponsor .img-sponsor{
	width: 100%;
	padding: 0;
	margin: 0;
}
.modal-sponsor .btn-social-sponsor-group{
	position: absolute;
	top: -0.55em;
	right: 0;
	font-size: 1.5em;
}

.modal-sponsor .btn-social-sponsor-group .btn-social-sponsor{
	text-transform: none;
	display: inline-block;
	border-radius: 50%;
	color: #fafafa;
}

.modal-sponsor .btn-social-sponsor-group .btn-facebook{
	padding: 0.33em 0.8em;
	background: #0277bd;
}

.modal-sponsor .btn-social-sponsor-group .btn-instagram{
	padding: 0.33em 0.71em;
	background: #f44336;
}

.modal-sponsor .btn-social-sponsor-group .btn-youtube{
	padding: 0.33em 0.7em;
	background: #b71c1c;
}

.modal-sponsor .btn-social-sponsor-group .btn-twitter{
	padding: 0.33em 0.65em;
	background: #1976d2;
}

.modal-sponsor .btn-social-sponsor-group .btn-web{
	padding: 0.33em 0.75em;
	background: #4caf50;
}
.modal-sponsor .title-sponsor{
	position: absolute;
	bottom: 0;
	background: rgba(42,42,42,0.3);
	color: #fafafa;
	display: block;
	width: 100%;
	padding: 0 1em;
}
.modal-sponsor .title-sponsor .name{
	font-size: 1em;
	display: block;
	font-weight: bolder;
}
.modal-sponsor .title-sponsor .info{
	font-size: 0.8em;
	display: block;
}
.modal-sponsor .title-sponsor .space-sponsor{
	padding-left: 2em
}

.image-fluid{
    max-width: 100%;
    max-width: 25em;
    margin:auto;
}
.excerpt-post{
	padding: 2em 1em;
	border-bottom: 1px solid #eee;
}
.body-post{
	padding-top: 3em;
	padding-bottom: 3em;
}