@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600);

.img-fluid{
    max-width: 100%
}


.credit-card-container {
    width:100%;
    height:100%;
    margin-top: 10px;
}

.credit-card-container .theCard {
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.credit-card-container figure {
    display: block;
    min-height:175px;
    width:430px;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}

.credit-card-container .theCardFront,
.credit-card-container .theCardBack{
    background: #2196f3;
    border-radius:5px;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin:0 auto;
    color:#444;
    border-radius:10px;
    padding:30px;
    background-size:100%;
  
}

.credit-card-container input {
    font-size:1em;
    padding:.15em;
    text-align:center;
    outline:none;
}
.credit-card-container .cardNumber input{
    width:95%;
    height:30px;
    margin:.75em .05em;
    border:1px solid #d1c7ac;
    border-radius:5px;
    color:#333333; 
    background: linear-gradient(#eee, #fff);
}

.credit-card-container .csc {
    width:22%;
    height:28px;
    margin:.75em .05em;
    border:1px solid #d1c7ac;
    border-radius:5px;
    color:#333333;
    background: linear-gradient(#eee, #fff);
  
}

.credit-card-container select.credit-card-select
{
    width:110px;
    height:35px;
    margin:.75em .05em;
    border:1px solid #d1c7ac;
    border-radius:5px;
}

.files-list{
	display: inline-block;
	border-left:3px solid #2979ff;
	width: 45%;
	margin: 10px 0;
}
.files-list .files-icon,
.files-list .files-body{
	display: inline-block;
}
.files-list .files-icon{
	border-radius: 50%;
	margin: 5px 15px;
}
.files-list .files-icon i.pdf{
	color: #b71c1c;
}
.files-list .files-icon i.zip{
	color: #0d47a1;
}
.files-list .files-icon i{
	margin :10px;
	font-size: 2.5em;
}
.files-list .files-body{
	font-size: 1.2em;
}

/*SPONSORS*/
.sponsor.row{
    width: 100%;
    border-left:3px solid #2979ff;

}
.sponsor.social-media .fa{
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    margin-top: 5px
}
.sponsor .social-media .fa.fa-facebook{
    padding:5px 8px;
    background: #0d47a1;
}
.sponsor .social-media .fa.fa-twitter{
    padding:6px 7px;
    background: #2196f3;
}
.sponsor .social-media .fa.fa-youtube{
    padding:6px 7px;
    background: #d50000;
}
.sponsor .social-media .fa.fa-instagram{
    padding:6px 6px;
    background: #f44336;
}
.sponsor h4{
    font-size: 1em;
}
.sponsor p{
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}
.sponsor .fa-globe{
    margin: 9px 0;
}
.img-show-category{
    max-width: 40px;
    max-height: 40px;
}
.other-post{
    border:1px solid #e2e2e2;
    background: #fafafa;
    margin: 5px 0;
    padding: 0;
}
.other-post h5{
    font-size: 13px;
    color: #424242;
}
.other-post p{
    font-size: 10px;
    color: #2e2e2e;
}
.other-post a.read-more{
    float: right;
    color: #e53935;
    font-size: 11px;
}
.other-post:hover a.link-more h5{
    color: #101010;
}
.other-post a.link-more:hover h5{
    text-decoration: underline;
}
.other-post .col-sm-4{
  vertical-align: middle;
}

#bottom .social-media a{
    display: block;
}
#bottom .social-media a i{
    font-size: 18px;
    margin: 5px 10px 5px 0;
}
#bottom .social-media a i.fa-facebook{
    color: #039be5
}
#bottom .social-media a i.fa-instagram{
    color: #f44336
}
#bottom .social-media a i.fa-youtube{
    color: #d50000
}
#bottom .social-media a:hover span, 
#bottom .social-media a:focus span,
#bottom .social-media a:active span{
    text-decoration: underline;
}
.portfolio-items > div{
    overflow: hidden;
}
.portfolio-item {
    max-width: 100%;
}
.item-inner h6{
    text-align: right;
}

.item-inner img{
    max-width: 100%;
    width: 100%;
}

#main-slider .carousel-inner{
    height: 70vh;
}
.widget.search{
    margin-top: 10px;
}
.inline-block{
    display: inline-block;
}
.scroller-move{
    display: inline-block;
    float: right;
}
.title-scroll{
    display: inline-block;
    float: left;
}
.carousel-inner{
    width: 100%;
}
.navbar-brand img{
    max-width: 200px
}
#recent-works,
#recent-works .container,
#recent-works .container .scroller-slider
{
    padding: 0;
    margin:0;
}
#recent-works .container .scroller-slider .item-access{
    padding-bottom: 0
}
.container-fluid{
    max-width: 98%;
    margin: auto;
}
.space.emerald{
    padding: 3px 0;
}
#services .container{
    padding-top: 20px
}